<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Graphql endpoint</title>
    <link rel="stylesheet" href="/css/graphiql.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <style>
      body {
        height: 100%;
        margin: 0;
        width: 100%;
        overflow: hidden;
      }
      .graphiql-container {
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <script src='js/graphiql.min.js' charset="utf-8"></script>
  </body>
</html>
