<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Book application</title>
  </head>
  <body>
    <div id="root"></div>
    <script src='js/index.min.js' charset="utf-8"></script>
  </body>
</html>
